#wallpaper{
       width: 100%;
     height: 100%;
     vertical-align: bottom;
}
div{
    background-color: #737373;
    text-align: center;
}
#desk{
    
    border: 10px solid #444444 ;
    border-radius: 50% 50%;
    width: 20%;
    margin: 25px 25px;

}
#logo{
    border: 10px solid #444444;
    border-radius: 50% 50%;
    width: 20%;
    margin:25px 25px
  
}
#think{
    width: 20%;
    border: 10px solid #444444 ;
    border-radius: 50% ;
    margin:25px 25px
 
}