#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:white ;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
/*    background-color: #38a3a5; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
 */
 
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
header {
    background-color:#22577a;
}
nav a:hover {
    background-color: #22577a;
    color:black ;
    text-decoration: none;
}
.book, .join  {
    background-color:#38a3a5;
    color:#22577a ;
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:#57cc99;
    color:white ;
}
#background{
    background-color: #38a3a5;
}
.msg{
    background-color: #38a3a5;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
footer  {
    background-color: #22577a;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;

}

.home-title{
    color:black ;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:black ;
}
.msg h2{
    color:white ;
}
.msg p{
    color:white ;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    padding-bottom: 15px;
}

footer h3{
    color:white ;
}
footer a {
    color:white ;
    text-decoration: none;
}
footer a:hover{
    color:white ;
}
.icon {
    width: 80px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 100%;
}
h3{
    text-decoration: none;
}
h2 {
    margin: 0;
}
footer .social img {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 15px;  
}  
#logo_link{
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}