#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:white ;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #38a3a5; 
}
header {
    background-color:#22577a;
}
nav a:hover {
    background-color: #22577a;
    color:black ;
    text-decoration: none;
}
.book, .join  {
    background-color:#38a3a5;
    color:#22577a ;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color:#57cc99;
    color:white ;
}
#background{
    background-color: #38a3a5
}
.msg{
    background-color: #38a3a5;
}
footer  {
    background-color: #22577a;
    text-decoration: none;
}

.home-title{
    color:black ;
}
h4{
    color:black ;
}
.msg h2{
    color:white ;
}
.msg p{
    color:white ;
}

footer h3{
    color:white ;
}
footer a {
    color:white ;
    text-decoration: none;
}
footer a:hover{
    color:white ;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 100%;
}
h3{
    text-decoration: none;
}